<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Shion</string>
	<key>CFBundleIdentifier</key>
	<string>com.audacious-software.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>audc</string>
	<key>CFBundleVersion</key>
	<string>3.2.0</string>
	<key>IndigoFixURL</key>
	<string>https://www.shiononline.com/software/shion-app/troubleshooting/#drivers</string>
	<key>ThinkingHomeFixURL</key>
	<string>http://www.audacious-software.com/weblog/2009/06/a-tip-for-thinking-home-users/</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>OSAScriptingDefinition</key>
	<string>Shion.sdef</string>
	<key>SUFeedURL</key>
	<string>http://boston.audacious-software.com/sparkle-stats/shion/profileInfo3.php</string>
	<key>SUEnableSystemProfiling</key>
	<true/>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>ShionWebHome</key>
	<string>http://www.shiononline.com/</string>
	<key>ShionBugEndpoint</key>
	<string>http://boston.audacious-software.com/bugs/shion.cgi</string>
	<key>ShionTroubleshootingPage</key>
	<string>https://www.shiononline.com/software/shion-app/troubleshooting/</string>
	<key>ShionMoreDevicesPage</key>
	<string>https://www.shiononline.com/software/shion-app/compatible-devices/</string>
	<key>Position Finder URL</key>
	<string>http://www.whatsmygps.com/</string>
</dict>
</plist>
